:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* Start Box */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
.d-block {
  display: block;
}
/* End Box */
/* Start Grid */
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
/* End Grid */
/* Start Padding + Margin */
.p-0 {
  padding: 0px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.m-0 {
  margin: 0px;
}
.m-20 {
  padding: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-10 {
  margin-left: 10px;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.c-white {
  color: white;
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-green {
  color: var(--green-color);
}
.c-orange {
  color: var(--orange-color);
}
/* End Color */
/* Start Position */
.p-relative {
  position: relative;
}
/* End Position */
/* Start Font */
.txt-center {
  text-align: center;
}
.txt-bold {
  font-weight: bold;
}
.fs-14 {
  font-size: 14px;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End Font */
/* Start Border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.border-grey {
  border: 1px solid #ccc;
}
.border-none {
  border: none;
}
/* End Border */
/* Start Components */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Components */
/* Start Medias */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/* End Medias */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
