:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar,
::-moz-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  background-color: black;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  bottom: -29px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
}
/* End Sidebar */
/* Start Header */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
/* End Header */
/* Start Index Page */
/* Start Content*/
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}
/* Start Wrapper*/
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* End Wrapper*/
/* End Content*/
/* Start Welcome Widget */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 170px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* End Welcome Widget */
/* Start Quick Draft Widget */
.draft {
  overflow: hidden;
}
.draft textarea {
  min-height: 180px;
  resize: none;
}
.draft .save {
  margin: 0 0 15px auto;
  transition: 0.3s;
  cursor: pointer;
}
.draft .save:hover {
  background-color: var(--blue-alt-color);
}
/* End Quick Draft Widget */
/* Start Yearly Targets Widget */
.targets {
}
.targets .intro {
}
.targets .target .icon {
  min-width: 80px;
  height: 80px;
}
.targets .target .blue,
.targets .target .content .money {
  background-color: rgb(0 117 255 / 20%);
}
.targets .target .orange,
.targets .target .content .projects {
  background-color: rgb(245 158 11 / 20%);
}
.targets .target .green,
.targets .target .content .team {
  background-color: rgb(34 197 94 / 20%);
}
.targets .target .content {
  width: 100%;
}
.targets .target .content .progress {
  width: 100%;
  height: 4px;
}
.targets .target .content .progress .progress-bar {
  position: relative;
  height: 100%;
}
.targets .target .content .money .progress-bar {
  width: 80%;
  background-color: var(--blue-color);
}
.targets .target .content .projects .progress-bar {
  width: 55%;
  background-color: var(--orange-color);
}
.targets .target .content .team .progress-bar {
  width: 75%;
  background-color: var(--green-color);
}
.targets .target .content .progress .progress-bar::before {
  content: "";
  position: absolute;
  right: -4px;
  top: -10px;
  border: 5px solid;
}
.targets .target .content .money .progress-bar::before {
  border-color: var(--blue-color) transparent transparent transparent;
}
.targets .target .content .projects .progress-bar::before {
  border-color: var(--orange-color) transparent transparent transparent;
}
.targets .target .content .team .progress-bar::before {
  border-color: var(--green-color) transparent transparent transparent;
}
.targets .target .content .progress .progress-bar::after {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  padding: 2px 5px;
  transform: translate(50%, -151%);
}
.targets .target .content .money .progress-bar::after {
  content: "80%";
  background-color: var(--blue-color);
}
.targets .target .content .projects .progress-bar::after {
  content: "55%";
  background-color: var(--orange-color);
}
.targets .target .content .team .progress-bar::after {
  content: "75%";
  background-color: var(--green-color);
}
/* End Yearly Targets Widget */
/* Start Tickets */
.tickets .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tickets .cards .card {
  flex-direction: column;
}
@media (max-width: 767px) {
  .tickets .cards {
    grid-template-columns: 1fr;
  }
}
/* End Tickets */
/* Start News */
.news .cards .card:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.news .cards .card .body .image {
  width: 100px;
}
.news .cards .card .body img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .news .cards .card {
    flex-direction: column;
  }
  .news .cards .card .body {
    flex-direction: column;
  }
  .news .cards .card .ripple {
    margin: 10px auto;
  }
}
/* End News */
/* Start Tasks */
.tasks .tasks-container .task-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.tasks .tasks-container .done {
  text-decoration: line-through;
  opacity: 0.3;
}
.tasks .tasks-container .task-row .delete-btn {
  cursor: pointer;
}
.tasks .tasks-container .task-row .delete-btn:hover {
  color: var(--red-color);
}
/* End Tasks */
/* Start Latest Uploads */
.items-container .item:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.items-container .item .file-holder .file-icon {
  width: 40px;
  height: 40px;
}
/* End Latest Uploads */
/* Start Latest Project */
.latest-project .project-icon {
  bottom: 0;
  right: 0;
  opacity: 0.1;
  width: 160px;
}
.latest-project .project-stepper .step .step-status {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
}
.latest-project .project-stepper .step:not(:last-of-type) .step-status::after {
  content: "";
  position: absolute;
  bottom: -28px;
  right: 7px;
  height: 25px;
  width: 2px;
  background-color: var(--blue-color);
}
.latest-project .project-stepper .step .step-status .in-progress {
  animation-name: flashing;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* End Latest Project */
/* Start Reminders */
.reminders .reminder .bullet-holder {
  width: 45px;
  height: 45px;
  border-right: 2px solid;
}
.reminders .reminder .tasks-list {
  border-color: var(--blue-color);
}
.reminders .reminder .projects {
  border-color: var(--green-color);
}
.reminders .reminder .my-clients {
  border-color: var(--orange-color);
}
.reminders .reminder .dev-workshop {
  border-color: var(--red-color);
}
.reminders .reminder .bullet-holder .bullet {
  width: 15px;
  height: 15px;
}
.reminders .reminder .tasks-list .bullet {
  background-color: var(--blue-color);
}
.reminders .reminder .projects .bullet {
  background-color: var(--green-color);
}
.reminders .reminder .my-clients .bullet {
  background-color: var(--orange-color);
}
.reminders .reminder .dev-workshop .bullet {
  background-color: var(--red-color);
}
/* End Reminders */
/* Start Post */
.latest-post .card-header .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .card-content {
  line-height: 1.8;
  min-height: 140px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-transform: capitalize;
}
/* End Post */
/* Start Social Media Stats */
.social-stats .twitter {
  background-color: rgb(29 161 242 / 20%);
}
.social-stats .facebook {
  background-color: rgb(24 119 242 / 20%);
}
.social-stats .youtube {
  background-color: rgb(255 0 0 / 20%);
}
.social-stats .linkedin {
  background-color: rgb(0 119 181 / 20%);
}
.social-stats .stat-element .icon {
  margin: -15px;
  width: 54px;
  height: 54px;
}
.social-stats .twitter .icon {
  background-color: #1da1f2;
}
.social-stats .facebook .icon {
  background-color: #1877f2;
}
.social-stats .youtube .icon {
  background-color: #ff0000;
}
.social-stats .linkedin .icon {
  background-color: #0077b5;
}
.social-stats .icon:hover {
  transform: rotate(5deg);
  transition: 0.5s;
}
.social-stats .twitter .content .count {
  color: #1da1f2;
}
.social-stats .facebook .content .count {
  color: #1877f2;
}
.social-stats .youtube .content .count {
  color: #ff0000;
}
.social-stats .linkedin .content .count {
  color: #0077b5;
}
.social-stats .stat-element .content .action {
  cursor: pointer;
}
.social-stats .twitter .content .action {
  background-color: #1da1f2;
}
.social-stats .facebook .content .action {
  background-color: #1877f2;
}
.social-stats .youtube .content .action {
  background-color: #ff0000;
}
.social-stats .linkedin .content .action {
  background-color: #0077b5;
}
/* End Social Media Stats */
/* Start Projects Table */
.projects-widget {
  margin: 20px 20px 0 20px;
}
@media (max-width: 767px) {
  .projects-widget {
    margin: 10px 10px 0 10px;
  }
}
.projects-table {
  overflow-x: auto;
}
.projects-table table {
  border-spacing: 0px;
  min-width: 1000px;
  transition: 0.3s;
}
.projects-table tr:hover td {
  background-color: #faf7f7;
}
.projects-table th {
  text-align: left;
  font-weight: 700;
}
.projects-table td {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.projects-table .status {
  border-right: 1px solid #eee;
}
.projects-table td img {
  width: 32px;
  height: 32px;
  margin-right: -20px;
  border: 2px solid white;
}
.projects-table td .pending {
  background-color: var(--orange-color);
}
.projects-table td .in-progress {
  background-color: var(--blue-color);
}
.projects-table td .completed {
  background-color: var(--green-color);
}
.projects-table td .rejected {
  background-color: var(--red-color);
}
/* End Projects Table */
/* End Index Page */
/* Start Settings Page */
/* Start Site Control */
.site-control form textarea {
  min-height: 150px;
  resize: none;
}
.toggle label {
  height: 32px;
}
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-alt-color);
}
/* End Site Control */
/* Start General Info */
.general-info form .input-grp .disabled {
  background-color: #f0f4f8;
}
.general-info form .input-grp .submit-grp .submit-btn {
  background: none;
  border: none;
}
.general-info form .input-grp .submit-grp .disabled {
  flex: 1;
}
.general-info :disabled {
  cursor: no-drop;
}
/* End General Info */
/* Start Security Info */
.security-info .info-content .info-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.security-info .info-content .info-item .btn-shape {
  cursor: pointer;
}
.security-info .info-content .info-item .change {
  transition: 0.3s;
}
.security-info .info-content .info-item .change:hover {
  background-color: var(--blue-alt-color);
}
/* End Security Info */
/* Start Social Info */
.social-info .social-content .input-grp .icon {
  width: 40px;
  height: 40px;
  border-radius: 6px 0 0 6px;
}
.social-info .social-content .input-grp .icon i {
  transition: 0.3s;
}
.social-info .social-content .input-grp:focus-within .icon i {
  color: black !important;
}
.social-info .social-content .input-grp .icon,
.social-info .social-content .input-grp input {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  margin-right: -1px;
}
.social-info .social-content .input-grp input {
  flex: 1;
  border-radius: 0 6px 6px 0;
  position: relative;
}
/* End Social Info */
/* Start Widgets Control */
.widgets-control .widgets-content .widget-item input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.widgets-control .widget-name {
  position: relative;
}
.widgets-control .widget-name::before,
.widgets-control .widget-name::after {
  position: absolute;
  left: -30px;
  top: 50%;
  border-radius: 4px;
  margin-top: -9px;
  cursor: pointer;
}
.widgets-control .widget-name::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.widgets-control .widget-name::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  font-size: 12px;
  width: 18px;
  height: 18px;
  color: white;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgets-control
  .widgets-content
  .widget-item
  input[type="checkbox"]:checked
  + label::after {
  transform: scale(1);
}
/* End Widgets Control */
/* Start Backup Manager */
.backup-manager .backup-content .backup-rate {
  border-bottom: 1px solid #eee;
}
.backup-manager .backup-content .radio-input input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.backup-manager .backup-content .radio-input label {
  position: relative;
}
.backup-manager .backup-content .backup-rate .radio-input label::before,
.backup-manager .backup-content .backup-rate .radio-input label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  cursor: pointer;
}
.backup-manager .backup-content .backup-rate .radio-input label::before {
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-color);
}
.backup-manager .backup-content .backup-rate .radio-input label::after {
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  top: 5px;
  left: 5px;
  transform: scale(0);
  transition: 0.3s;
}
.backup-manager
  .backup-content
  .backup-rate
  .radio-input
  input[type="radio"]:checked
  + label::before {
  border-color: var(--blue-color);
}
.backup-manager
  .backup-content
  .backup-rate
  .radio-input
  input[type="radio"]:checked
  + label::after {
  transform: scale(1);
}
.backup-manager .backup-content .backup-location {
  gap: 10px;
}
@media (max-width: 767px) {
  .backup-manager .backup-content .backup-location {
    flex-direction: column;
  }
  .backup-manager .backup-content .backup-location .radio-input {
    width: 100%;
    margin-bottom: 0;
  }
}
.backup-manager .backup-content .backup-location .radio-input {
  flex: 1;
}
.backup-manager .backup-content .backup-location .radio-input label {
  border: 2px solid #eee;
  cursor: pointer;
}
.backup-manager
  .backup-content
  .backup-location
  .radio-input
  input[type="radio"]:checked
  + label {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
/* End Backup Manager */
/* End Settings Page */
/* Start Profile Page */
/* Start Profile Widget */
.profile-info .side-profile {
  width: 300px;
  border-right: 1px solid #eee;
}
.profile-info .side-profile img {
  width: 120px;
  height: 120px;
}
.profile-info .side-profile .progress-bar {
  width: 70%;
  margin: auto;
  height: 6px;
}
.profile-info .side-profile .progress-bar .progress {
  background-color: var(--blue-color);
  width: 70%;
}
.profile-info .profile-data .box {
  transition: 0.3s;
}
.profile-info .profile-data .box:hover {
  background-color: #f9f9f9;
}
.profile-info .profile-data .box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.profile-info .profile-data .box .info {
  flex-wrap: wrap;
}
.profile-info .profile-data .box .info .info-item {
  min-width: 250px;
}
.profile-info .profile-data .box .info .info-item .toggle-switch {
  height: 20px;
}
.profile-info .profile-data .box .info .info-item .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-info
  .profile-data
  .box
  .info
  .info-item
  .toggle-checkbox:checked
  + .toggle-switch::before {
  left: 62px;
}
@media (max-width: 767px) {
  .profile-info {
    flex-direction: column;
  }
  .profile-info .side-profile {
    border: none;
  }
  .profile-info .profile-data .box .info .info-item .toggle {
    display: flex;
    justify-content: center;
  }
}
/* End Profile Widget */
/* Start Skills Widget */
.profile-wrapper {
  gap: 20px;
}
.profile-wrapper .my-skills {
  flex-grow: 1;
}
.profile-wrapper .my-skills .skills-group .skill-list {
  border-bottom: 1px solid #eee;
}
.profile-wrapper .latest-activities {
  flex-grow: 2;
}
@media (max-width: 767px) {
  .profile-wrapper {
    flex-direction: column;
  }
}
/* End Skills Widget */
/* Start Latest Activities Widget */
.latest-activities .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.latest-activities .activity .description img {
  width: 64px;
  height: 64px;
}
.latest-activities .activity .description .date {
  text-align: right;
}
@media (max-width: 767px) {
  .latest-activities .activity .description,
  .latest-activities .activity .description .date {
    text-align: center;
  }
  .latest-activities .activity .description img {
    margin: auto;
    margin-bottom: 10px;
  }
  .latest-activities .activity .description .content-description {
    margin-bottom: 10px;
  }
  .latest-activities .activity .description,
  .latest-activities .activity .description .content {
    flex-direction: column;
  }
}
/* End Latest Activities Widget */
/* End Profile Page */
/* Start Projects Page */
.project .project-date {
  top: 10px;
  right: 10px;
}
.project .team {
  min-height: 80px;
}
.project .team a {
  bottom: 0;
  left: 0;
}
.project .team a:hover {
  z-index: 999;
}
.project .team a:nth-child(2) {
  left: 25px;
}
.project .team a:nth-child(3) {
  left: 50px;
}
.project .team a:nth-child(4) {
  left: 75px;
}
.project .team a:nth-child(5) {
  left: 100px;
}
.project .team a img {
  width: 40px;
  height: 40px;
  border: 2px solid white;
}
.project .tags {
  justify-content: end;
  border-top: 1px solid #eee;
}
.project .tags span {
  width: fit-content;
}
.project .info {
  border-top: 1px solid #eee;
}
.project .info .progress {
  height: 8px;
  width: 260px;
}
@media (max-width: 767px) {
  .project .tags,
  .project .info {
    flex-direction: column;
  }
  .project .tags span:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .project .tags span {
    margin-left: 0;
  }
  .project .info .progress {
    margin-bottom: 15px;
  }
}
/* End Projects Page */
/* Start Courses Page */
/* Start Projects Wrapper*/
.courses-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .courses-wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* End Projects Wrapper*/
.courses-wrapper .course {
  overflow: hidden;
}
.courses-wrapper .course .avatar {
  border: 2px solid white;
  height: 64px;
  width: 64px;
}
.courses-wrapper .course .cover {
  max-width: 100%;
}
.courses-wrapper .course .info .description {
  line-height: 1.6;
}
.courses-wrapper .course .footer {
  border-top: 1px solid #eee;
}
.courses-wrapper .course .footer .course-info {
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
}
/* End Courses Page */
/* Start Friends Page */
.friend .contact {
  top: 10px;
  left: 10px;
}
.friend .contact i {
  color: #666;
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
}
.friend .content {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.friend .content .vip {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  opacity: 0.2;
}
/* End Friends Page */
/* Start Files Page */
.content-wrapper {
  flex-direction: row-reverse;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .content-wrapper {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.file-stats {
  min-width: 260px;
}
@media (min-width: 768px) {
  .file-stats {
    align-self: flex-start;
  }
}
.file-stats .stat-item {
  border: 1px solid #eee;
}
.file-stats .stat-item .stat-icon {
  height: 40px;
  width: 40px;
}
.file-stats .stat-item .blue {
  background-color: rgb(0 117 255 / 20%);
}
.file-stats .stat-item .green {
  background-color: rgb(34 197 94 / 20%);
}
.file-stats .stat-item .red {
  background-color: rgb(244 67 54 / 20%);
}
.file-stats .stat-item .orange {
  background-color: rgb(245 158 11 / 20%);
}
.file-stats .upload {
  margin: 0 auto;
  transition: 0.3s;
}
.file-stats .upload:hover {
  background-color: var(--blue-alt-color);
}
.file-stats .upload:hover i {
  animation-name: up-down;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
.files-wrapper {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-wrapper .file-box i {
  top: 10px;
  left: 10px;
}
.files-wrapper .file-box img {
  margin: 15px auto;
  height: 64px;
  width: 64px;
  transition: 0.3s;
}
.files-wrapper .file-box:hover img {
  transform: rotate(5deg);
}
.files-wrapper .file-box .file-footer {
  border-top: 1px solid #eee;
}
/* End Files Page */
/* Start Plans Page */
.plans-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .plans-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.plans-wrapper .plan-tag {
  border: 3px solid white;
}
.plans-wrapper .plan-tag.green {
  outline: 3px solid var(--green-color);
}
.plans-wrapper .plan-tag.blue {
  outline: 3px solid var(--blue-color);
}
.plans-wrapper .plan-tag.orange {
  outline: 3px solid var(--orange-color);
}
.plans-wrapper .plan-price .price {
  font-size: 40px;
}
.plans-wrapper .plan-price .price .currency {
  top: 0;
  left: -20px;
}
.plans-wrapper .plan ul li {
  border-bottom: 1px solid #eee;
}
/* End Plans Page */
/* Start Animations */
@keyframes flashing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* End Animations */
